/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/*------ Variables */
:root{
    /*------ Colores */
    --green-color: #7ACC2D;
    --black-color: #313337;
    --white-color: white;
    /*------ Tipografía */
    --normal: 12px;
    /*------ Espaciado */
    --space: 10px;
    --space-2: 20px;
    /*------ Box shadow*/
    --box: 0px 0 2px 1px #e6e5e9;
}

/* ---------- Aquí empieza lo bueno ----------  */
html, body {
    padding: 0;
    margin: 0;
    color: var(--black-color);
    font-family: 'Open Sans', sans-serif;
}

p, label{
    font-size: var(--normal);
}

nav {
    min-height: 60px;
    padding: var(--space);
    display: flex;
    background-color: var(--green-color);
    justify-content: space-between;
    align-items: center;
}

nav a{
    padding-left: 15px;
    color: var(--black-color);
    font-size: var(--normal);
    text-decoration: none;
}

nav a:hover{
    color: var(--white-color);
}

nav ul {
    display: flex;
}

nav ul li{
    padding-right: 20px;
    list-style: none;
}

hr{
    opacity: .2;
}

/* ------------------------------------------- MAIN SECTION */

.main_section {
    padding: 5%;
    text-align: center;
}

/* -------------------------------------------  PRODUCTOS */

.products {
    height: auto;
    padding: 5% 10%;
    display: flex;
    background-image: url("../images/curve.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    justify-content: space-evenly;
    
}

.product {
    padding: 20px;
    margin-top: -100px;
}

.image-product{
    text-align: center;
}

.content {
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0px 0 2px 1px #e6e5e9;
    background: var(--white-color);
}

.main_btn {
    width: 100%;
    border: 0px;
    border-radius: 2px;
    padding: var(--space);
    color: var(--white-color);
    background-color: var(--green-color);
    cursor: pointer;
}
.main_btn:hover{
    background-color: #63a426;
}

/* Beneficios */
.beneficios{
    padding: 10%;
    display: flex;
}

.beneficio {
    padding: 20px;
    text-align: center;
}

.beneficio img{
    max-height: 100px
}

.text_beneficio{
    text-align: justify;
}

/* Videos */
.containervideo {
    /* border: 1px solid red; */
    max-width: 1000px;
    /* width: 100%; */
    height: inherit;
    margin: 0 auto;
    display: inherit;
    flex: 1;
    flex-wrap: inherit;
    justify-content: center;
    align-items: inherit;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.event-list-title {
    margin-left: 20px;
}

.event {
    margin: 1%;
    width: 64%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #e6e5e9;
    justify-content: space-around;
    justify-items: stretch;
    align-items: stretch;
    align-content: space-around;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail {
    width: 66%;
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    left: 50px;
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.event-imageContainer {
    justify-content: space-around;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
}

/* Contacto */

.containercontacto {
    /* border: 1px solid red; */
    max-width: 1000px;
    /* width: 100%; */
    height: inherit;
    margin: 0 auto;
    display: inherit;
    flex: 1;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: center;
    align-content: center;
}
.contenedorsito {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.contact {
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    color: black;
    background-color: var(--green-color);
    align-items: center;
    justify-content: space-between;
}

.social {
}

.social-link {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    display: inline-block;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.form-email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    width: 100px;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 10px;
    display: block;
    color: white;
    background: transparent;
}

.form-email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    /* border: 1px solid red; */
    max-width: 1000px;
    /* width: 100%; */
    height: inherit;
    margin: 0 auto;
    display: inherit;
    flex: 1;
    flex-wrap: inherit;
    justify-content: inherit;
    align-items: inherit;
}

/* ------------------------------------------- Venta */
.modulo_pago {
    padding: var(--space-2);
    box-shadow: var(--box);
    background-color: var(--white-color);
}

.modulo_pago_images {
    max-width: 150px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.data {
    width: 100%;
    border: 1px solid var(--black-color);
    border-radius: 2px;
    padding: 5px;
    margin-top: var(--space);
    box-sizing: border-box;
}

.modulo_pago .main_btn{
    margin-top: 10px;
}


/* ------------------------------------------- Footer */
footer {
    padding: var(--space);
    display: flex;
    color: var(--white-color);
    background-color: var(--black-color);
    font-size: var(--normal);
    justify-content: space-between;
}
.contact a{
    color: var(--green-color);
}
